
#quality of life files
quickRunFyp.bat

#page renderings to be ignored
#icw/static/images/results/*
#icw/static/images/uploads/*

icw/__pycache__/*
offline/*
mobile apps/*
offline/*
Test HTML/*

decode with timestamp.txt
experiment.py