<!DOCTYPE html>
<html>
	<!-- ##### SHARED HTML START ##### -->
	<head>
		<title>Isolate & Classify Wildlife</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

		<link id="style-theme" rel="stylesheet" href="static/themes/theme-blank.css">
		<link rel="stylesheet" href="static/themes/page-layout.css">
	</head>
	<!-- ##### SHARED HTML END ##### -->

	<body class="theme-colour-a h-100 w-100 ">
		<div id="page">
			<div id="body">
				<!-- ##### SHARED HTML START ##### -->
				<nav class="navbar navbar-expand-sm  theme-colour-b">
					<a class="navbar-brand " >Isolate & Classify Wildlife</a>
					<div class="navbar-nav">
						<a class="nav-item nav-link link-inactive " href="/">Home </a>
						<a class="nav-item nav-link link-inactive " href="/gallery">Gallery</a>
						<a id="nav-myuploads" class="nav-item nav-link link-inactive " style="display:none;" href="/myuploads">My Uploads</a>
						<a class="nav-item nav-link link-active " href="/about">About</a>
					</div>
					<div class="navbar-nav ml-auto">
						<a id="nav-login" class="nav-item nav-link link-inactive " style="display:block;" href="/login">Login</a>
						<a id="nav-signup" class="nav-item nav-link link-inactive " style="display:block;" href="/signup">Signup</a>
						<a onclick="logout();"  id="nav-logout" class="nav-item nav-link link-inactive " style="display:none;" href="#">Logout</a>
					</div>
				</nav>
				<br>
				<!-- ##### SHARED HTML END ##### -->

				<!-- Different after this point -->
				<div class="container d-flex justify-content-between">

					<div class="row">
						<div  class="col-9 theme-colour-b">
							<h2  class="text-center">About this Website</h2>

							<p style="margin:1%">IC Wildlife is a project that uses image processing and machine learning, to isolate and classify the subject of a wildlife photo. Put more simply it identifies the animal in a photo and attempts to remove the background.</p> 
							<br>

							<p style="margin:1%">The animals that it is able to classify are listed below:</p>
							<p style="margin:1%">Antelope, bat, beaver, blue whale, bobcat, buffalo, chihuahua, chimpanzee, collie, cow, dalmatian, deer, dolphin, elephant, fox, german shepherd, giant panda, giraffe, gorilla, grizzly bear, hamster, hippopotamus, horse, humpback whale, killer whale, leopard, lion, mole, moose, mouse, otter, ox, persian cat, pig, polar bear, rabbit, raccoon, rat, rhinoceros, seal, sheep, siamese cat, skunk, spider monkey, squirrel, tiger, walrus, weasel, wolf, zebra.</p>
							<br>

							<p style="margin:1%">The dataset that was used for training the machine learning model is called "Animals with attributes 2"[1]. It's fantastic and free to use, it can be found at https://cvml.ist.ac.at/AwA2/</p> 
							<p style="margin:1%">[1]Y. Xian, C. H. Lampert, B. Schiele, Z. Akata. "Zero-Shot Learning - A Comprehensive Evaluation of the Good, the Bad and the Ugly", IEEE Transactions on Pattern Analysis and Machine Intelligence (T-PAMI) 40(8), 2018. (arXiv:1707.00600 [cs.CV])</p> 
							<br>

							<p style="margin:1%">For any questions about the project you can send an email.</p> 
							<p style="margin:1%"><b>Contact</b>: isolateclassifywildlife@gmail.com</p> 
						</div>
						<!-- Submit and question box -->
						<div class="col-3 theme-colour-c">
							<img style="padding:5px" class=" rounded " src="static/images/examples/buffalo-example.jpg" alt="Display Image" width="100%">
							<br>
							<img style="padding:5px" class=" rounded " src="static/images/examples/dolphin-example.jpg" alt="Display Image" width="100%">
							<br>
							<img style="padding:5px" class=" rounded " src="static/images/examples/polar+bear-example.jpg" alt="Display Image" width="100%">
						</div>

					</div>

				</div>
			</div>
			<div id="footer">
				<!-- ##### SHARED HTML START ##### -->
				<nav class="navbar navbar-expand-sm theme-colour-b">
					<div class="navbar-nav ml-auto">
						<a onclick="setTheme('dark');" class="nav-item nav-link link-inactive " href="#">Dark</a>
						<a onclick="setTheme('sunset');" class="nav-item nav-link link-inactive " href="#">Sunset</a>
						<a onclick="setTheme('electricity');" class="nav-item nav-link link-inactive " href="#">Electricity</a>
						<a onclick="setTheme('pastel');" class="nav-item nav-link link-inactive " href="#">Pastel</a>
					</div>
				</nav>
				<!-- ##### SHARED HTML END ##### -->
			</div>
		</div>
	</body>
	<!-- ##### SHARED HTML START ##### -->
	<script src="static/clientCode/themeMethods.js"></script>
	<script src="static/clientCode/assistMethods.js"></script>	
	<!-- ##### SHARED HTML END ##### -->
	<script src="static/clientCode/clientAbout.js"></script>
</html>
