<!DOCTYPE html>
<html>
	<head>
		<title>Flask Image App Index</title>
	
  			<!-- <link rel="stylesheet" href="static/themes/theme-electricity.css"> -->
  			<link rel="stylesheet" href="static/themes/theme-sunset.css">
	</head>
	<body class="theme-colour-a basic " width="90%" height="90%">
		<p>Text</p>
		<div class="theme-colour-b basic " width="90%" height="90%">
			<p>Text</p>
			<div class="theme-colour-c basic " width="90%" height="90%">
				<p>Text</p>
				<div class="theme-colour-d basic " width="90%" height="90%">
					<p>Text</p>
				</div>
			</div>
		</div>
	</body>
	<script src="static/clientCode/clientGallery.js"></script>
</html>
