<!DOCTYPE html>
<html>
	<!-- ##### SHARED HTML START ##### -->
	<head>
		<title>Isolate & Classify Wildlife</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

		<link id="style-theme" rel="stylesheet" href="static/themes/theme-blank.css">
		<link rel="stylesheet" href="static/themes/page-layout.css">
	</head>
	<!-- ##### SHARED HTML END ##### -->
	<body class="theme-colour-a h-100 w-100">
		<div id="page">
			<div id="body">
				<!-- navbar start -->
				<nav class="navbar navbar-expand-sm  theme-colour-b">
					<a class="navbar-brand link-active" href="">Isolate & Classify Wildlife</a>
					<div class="navbar-nav">
						<a class="nav-item nav-link link-inactive " href="/">Home </a>
						<a class="nav-item nav-link link-active " href="/gallery">Gallery</a>
						<a id="nav-myuploads" class="nav-item nav-link link-inactive " style="display:none;" href="/myuploads">My Uploads</a>
						<a class="nav-item nav-link link-inactive " href="/about">About</a>
					</div>
					<div class="navbar-nav ml-auto">
						<a id="nav-login" class="nav-item nav-link link-inactive " style="display:block;" href="/login">Login</a>
						<a id="nav-signup" class="nav-item nav-link link-inactive " style="display:block;" href="/signup">Signup</a>
						<a onclick="logout();"  id="nav-logout" class="nav-item nav-link link-inactive " style="display:none;" href="#">Logout</a>
					</div>
				</nav>
				<br>
				<!-- navbar end -->

				<!-- Different after this point -->
				<div class="container  w-50 theme-colour-b">
					<form>

						<h3 class="text-center">Gallery</h3>

						<div class="row  rounded ">
							<div class="col-sm-12 ">
								<input id="label-input" list="labels" class="w-100" type="text" value="" placeholder="Animal">
									<datalist id="labels">
										<option value="antelope"><option value="bat"><option value="beaver"><option value="blue whale"><option value="bobcat">
										<option value="buffalo"><option value="chihuahua"><option value="chimpanzee"><option value="collie"><option value="cow">
										<option value="dalmatian"><option value="deer"><option value="dolphin"><option value="elephant"><option value="fox">
										<option value="german shepherd"><option value="giant panda"><option value="giraffe"><option value="gorilla"><option value="grizzly bear">
										<option value="hamster"><option value="hippopotamus"><option value="horse"><option value="humpback whale"><option value="killer whale">
										<option value="leopard"><option value="lion"><option value="mole"><option value="moose"><option value="mouse">
										<option value="otter"><option value="ox"><option value="persian cat"><option value="pig"><option value="polar bear">
										<option value="rabbit"><option value="raccoon"><option value="rat"><option value="rhinoceros"><option value="seal">
										<option value="sheep"><option value="siamese cat"><option value="skunk"><option value="spider monkey"><option value="squirrel">
										<option value="tiger"><option value="walrus"><option value="weasel"><option value="wolf"><option value="zebra">
									</datalist>
							</div>
						</div>
						<br>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="type-input1" name="typeRadio" class="custom-control-input" value="all">
							<label class="custom-control-label" for="type-input1">All</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="type-input2" name="typeRadio" class="custom-control-input" value="original" checked>
							<label class="custom-control-label" for="type-input2">Original</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="type-input3" name="typeRadio" class="custom-control-input" value="isolate">
							<label class="custom-control-label" for="type-input3">Isolated</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="type-input4" name="typeRadio" class="custom-control-input" value="summary">
							<label class="custom-control-label" for="type-input4">Summary</label>
						</div>
						<br><br>
						<input onclick="galleryAttempt();" type="button" class="btn btn-primary btn-lg btn-block" value="Search">
						<br>
					</form>
				</div>

				<!-- ##### ERROR START ##### -->
				<div id="error-display" class="container w-50 p-3 text-center bg-danger text-white " style="display:none;"></div>
				<!-- ##### ERROR START ##### -->
				
				<div class=" album py-5 ">
					<div style="padding:2%" class=" container w-90 theme-colour-b ">
						<div id="galleryRow" style="margin:0.1%"class=" row ">
							
						</div>
					</div>
				</div>
				<br>
			</div>
			<div id="footer">
				<!-- ##### SHARED HTML START ##### -->
				<nav class="navbar navbar-expand-sm theme-colour-b">
					<div class="navbar-nav ml-auto">
						<a onclick="setTheme('dark');" class="nav-item nav-link link-inactive " href="#">Dark</a>
						<a onclick="setTheme('sunset');" class="nav-item nav-link link-inactive " href="#">Sunset</a>
						<a onclick="setTheme('electricity');" class="nav-item nav-link link-inactive " href="#">Electricity</a>
						<a onclick="setTheme('pastel');" class="nav-item nav-link link-inactive " href="#">Pastel</a>
					</div>
				</nav>
				<!-- ##### SHARED HTML END ##### -->
			</div>
		</div>
	</body>
	<!-- ##### SHARED HTML START ##### -->
	<script src="static/clientCode/themeMethods.js"></script>
	<script src="static/clientCode/assistMethods.js"></script>	
	<!-- ##### SHARED HTML END ##### -->
	<script src="static/clientCode/clientGallery.js"></script>
</html>
