<!DOCTYPE html>
<html>
	<head>
		<title>Isolate & Classify Wildlife</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	
  			<!-- <link rel="stylesheet" href="static/themes/theme-blank.css"> -->

  			<!-- <link rel="stylesheet" href="static/themes/theme-electricity.css"> -->
  			<link rel="stylesheet" href="static/themes/theme-pastel.css">
  			<!-- <link rel="stylesheet" href="static/themes/theme-sunset.css"> -->
  			<!-- <link rel="stylesheet" href="static/themes/theme-dark.css"> -->

	</head>
	<body class="theme-colour-a h-100 w-100">
	<!-- <body> -->
		<nav class="navbar navbar-expand  theme-colour-b">
			<a class="navbar-brand link-active" href="">Isolate & Classify Wildlife</a>
			<div class="collapse navbar-collapse">
				<div class="navbar-nav">
					<a class="nav-item nav-link link-inactive " href="/">Home </a>
					<a class="nav-item nav-link link-inactive " href="/gallery">Gallery</a>
					<a class="nav-item nav-link link-inactive " href="/about">About</a>
					<a class="nav-item nav-link link-active" href="/login">Login</a>
					<a class="nav-item nav-link link-inactive" href="/signup">Signup</a>
				</div>
			</div>
		</nav>
		<br>
		<!-- Different after this point -->
		<div class="container  w-50 theme-colour-c">
			<!-- <form> -->

				<h3 class="text-center">Login</h3>
				<div class="row  rounded ">
					<div class="col-sm-4 ">
						<p>Username: </p>
					</div>
					<div class="col-sm-8 ">
						<input id="login-username" class="w-100" type="text" value="" >
					</div>
				</div>

				<div class="row  rounded ">
					<div class="col-sm-4 ">
						<p>Password </p>
					</div>
					<div class="col-sm-8 ">
						<input id="login-password" class="w-100" type="password" value="" >
					</div>
				</div>

				<div class="row ">
					<div class="col-sm-12 ">
						<input onclick="loginAttempt();" style="margin:1%" type="submit" class="btn btn-primary btn-lg btn-block" value="Login">
					</div>
				</div>
			<!-- </form> -->
		</div>
		<br>
		<div class="container  w-50 theme-colour-c">


			<h3 class="text-center">Don't have an account?</h3>
			<div class="row ">
				<div class="col-sm-12 ">
					<a style="margin:1%" href="/signup" class="btn btn-primary btn-lg btn-block" role="button">Signup</a>
				</div>
			</div>
		</div>

	</body>
	<script src="static/clientCode/assistMethods.js"></script>
	<script src="static/clientCode/clientLogin.js"></script>
</html>
