<!DOCTYPE html>
<html>
	<head>
		<title>Flask Image App Index</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	
  			<!-- <link rel="stylesheet" href="static/themes/theme-electricity.css"> -->
  			<!-- <link rel="stylesheet" href="static/themes/theme-sunset.css"> -->
  			<!-- <link rel="stylesheet" href="static/themes/theme-blank.css"> -->
  			<link rel="stylesheet" href="static/themes/theme-dark.css">

	</head>
	<body class="theme-colour-a h-100 w-100">
	<!-- <body> -->
		<nav class="navbar navbar-expand navbar-dark bg-dark">
  			<a class="navbar-brand" href="#">Isolate & Classify Wildlife</a>

		  <div class="collapse navbar-collapse">
		    <div class="navbar-nav">
		      <a class="nav-item nav-link " href="/">Home </a>
		      <a class="nav-item nav-link " href="/gallery">Gallery</a>
		      <a class="nav-item nav-link " href="/about">About</a>
		      <a class="nav-item nav-link " href="/login">Login</a>
		      <a class="nav-item nav-link active " href="/signup">Signup</a>
		    </div>
		  </div>
		</nav>
		<br>
		<!-- Different after this point -->
		<div class="container  w-50 theme-colour-c">
			<form>

				<h3 class="text-center">Signup</h3>
				<div class="row  rounded ">
					<div class="col-sm-4 ">
						<p>Username: </p>
					</div>
					<div class="col-sm-8 ">
						<input class="w-100" type="text" name="textUsername" value="" >
					</div>
				</div>

				<div class="row  rounded ">
					<div class="col-sm-4 ">
						<p>Password: </p>
					</div>
					<div class="col-sm-8 ">
						<input class="w-100" type="password" name="textPassword" value="" >
					</div>
				</div>

				<div class="row  rounded ">
					<div class="col-sm-4 ">
						<p>Confirm Password: </p>
					</div>
					<div class="col-sm-8 ">
						<input class="w-100" type="password" name="textConfirm" value="" >
					</div>
				</div>

				<div class="row ">
					<div class="col-sm-12 ">
						<input style="margin:1%" type="submit" class="btn btn-primary btn-lg btn-block" value="Signup">
					</div>
				</div>
			</form>
		</div>
	</body>
	<script src="static/clientCode/clientSignup.js"></script>
</html>
