.theme-colour-a
{
	background-color:rgb(61, 1, 60);
	color:White;
}

.theme-colour-b
{
	background-color:rgb(96, 72, 127);
	color:White;
}

.theme-colour-c
{
	background-color:rgb(120, 136, 191);
	color:White;

}

.theme-colour-d
{
	background-color:rgb(104, 194, 229);
	color:Black;

}

.theme-colour-e
{
	background-color:rgb(74, 248, 255);
	color:Black;

}

.link-active
{
	color:White;
}

.link-inactive
{
	color:rgba(255, 255, 255,0.5);
}

a:hover, a:active {
  color:White;
}